# Node dependencies
node_modules/

# Production builds
dist/

# Local env files
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Editor configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
